.actions-menu {
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  line-height: 44px;

  .se-icon-more {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    line-height: 36px;

    &::before {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    left: auto;
    right: 0;

    &.dropdown-menu-right {
      left: 0;
      right: auto;
    }
  }
}
