{
  "parser": "babel-eslint",
  "extends": [
    "@shoutem/react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "globals": {
    "Action": false,
    "__DEV__": false,
    "__PROD__": false,
    "__TEST__": false,
    "__DEBUG__": false,
    "__DEBUG_NEW_WINDOW__": false,
    "describe": false,
    "it": false,
    "assert": false,
    "beforeEach": false,
    "afterEach": false
  },
  "rules": {}
}
