$color-black: #000000;
$color-light-black: #333333;
$color-greyish-brown: #535353;
$color-tundora: #424242;
$color-silver-chalice: #acacac;
$color-warm-grey: #858585;
$color-light-grey: #e4e4e4;
$color-warm-white: #f2f2f2;
$color-grayish: #c3c7d0;
$color-white: #ffffff;
$color-azure: #00aadf;
$color-deep-red: #d43900;
$color-pea-green: #66ad13;
$color-golden-yellow: #fcc721;
$color-buttercup: #f7b120;
$color-fiord: #444f6c;
$color-porcelain: #f6f7f8;
$color-french-gray: #888fa1;
$color-athens-gray: #e4e6e9;
$color-mischka: #d2d5dc;
$color-east-bay: #4a5b85;
$color-pickled-bluewood: #313c59;
$color-cerulean: #00bef7;
$color-monza: #d0021b;
$color-red: #eb021d;
$color-waterloo: #7b8397;
$color-ghost-white: #f2f2f5;