@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans_100.eot'),
    url('../fonts/MuseoSans_100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_100.woff') format('woff'),
    url('../fonts/MuseoSans_100.ttf') format('truetype'),
    url('../fonts/MuseoSans_100.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family:'MuseoSans';
  src: url('../fonts/MuseoSans_300.eot'),
    url('../fonts/MuseoSans_300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSans_300.woff') format('woff'),
    url('../fonts/MuseoSans_300.ttf') format('truetype'),
    url('../fonts/MuseoSans_300.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/museosans_500.eot'),
    url('../fonts/museosans_500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans_500.woff') format('woff'),
    url('../fonts/museosans_500.ttf') format('truetype'),
    url('../fonts/museosans_500.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/museosans_700.eot'),
    url('../fonts/museosans_700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans_700.woff') format('woff'),
    url('../fonts/museosans_700.ttf') format('truetype'),
    url('../fonts/museosans_700.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'se-builder-icons';
  src:  url('../fonts/se-builder-icons.eot?m1y06u');
  src:  url('../fonts/se-builder-icons.eot?m1y06u#iefix') format('embedded-opentype'),
    url('../fonts/se-builder-icons.ttf?m1y06u') format('truetype'),
    url('../fonts/se-builder-icons.woff?m1y06u') format('woff'),
    url('../fonts/se-builder-icons.svg?m1y06u#se-builder-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
