.unsplash-images-tab__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.unsplash-images-tab__search-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.unsplash-images-tab__search-input {
  margin-right: 20px;
  width: 280px;

  .action-input__form {
    box-shadow: none;
    border-radius: 4px;
    height: 40px;

    &:focus {
      box-shadow: none;
    }
  }

  .btn-icon {
    margin: 0;
    width: auto;
    height: auto;
  }
}

.unsplash-images-tab__results-container {
  height: 610px;
  max-height: 610px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  overflow-y: auto;
}

.unsplash-images-tab__max-images-text {
  margin-left: 15px;
  color: #7b8397;
}
